.tooltip {
    padding: 5px 14px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 12px;
    color: #333;
    font-size: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    font-weight: 500;
}

/* Border triangle */
.tooltip::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -11px;
    transform: translateX(-50%);
    border-width: 11px 11px 0;
    border-style: solid;
    border-color: #ddd transparent transparent transparent;
}

/* White triangle */
.tooltip::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -10px;
    transform: translateX(-50%);
    border-width: 10px 10px 0;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
}